.footerMain {
    background-color: #2919288f;
    backdrop-filter: blur(5px);
    padding: 150px 0 45px;
    color: var(--purple-light);
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.footerLogoWrapper {
    width: 35%;
}

.footerLogoWrapper>a {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

.footerCol h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-links>li {
    margin-bottom: 12px;
}

.footer-links>li:last-child {
    margin-bottom: 0;
}

.footer-links>li>a {
    color: var(--purple-light);
    line-height: 1.4;
    padding: 4px;
    text-decoration: capitalize;
    transition: all 0.3s;
}

.footer-links>li>a:hover {
    text-decoration: underline;
}

.footer-links.contact-links>li>a {
    color: var(--white);
    font-weight: 300;
}

.social-links {
    display: inline-flex;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 0;
    padding-left: 0;
}

.social-links>li a {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.social-links>li a.social-telegram {
    background: var(--telegram);
}

.social-links>li a.social-discord {
    background: var(--discord);
}

.social-links>li a.social-twitter {
    background: var(--twitter);
}

.social-links>li a.social-instagram {
    background: var(--instagram);
}

.social-links>li a.social-youtube {
    background: var(--youtube);
}

.social-links>li a:hover {
    border-color: var(--white);
    transform: scale(1.1);
}

.footer-divider {
    border-top: 1px solid var(--purple-light);
    margin: 60px 0 36px;
}

.footer-rights {
    text-align: center;
}

ul.footer-links {
    padding: 0;
    margin: 0;
}

ul.footer-links li a {
    text-decoration: none;
}

@media (max-width: 1199px) {
    .footerLogoWrapper {
        width: 100%;
        margin-bottom: 30px;
    }

    .footerMain {
        padding: 110px 0 30px;
    }

    .footer-divider {
        margin: 30px 0 30px;
    }
    .social-section {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .footer-wrapper {
        gap: 16px;
    }
    .footerMain {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 599px) {
    .footer-wrapper .footerCol {
        width: 100%;
    }
   
}